<div class="cart_area section_padding_100 clearfix" style="margin-top: 12%">
  <div class="container">
    <div class="col-8 mx-auto mt-2">
      <div class="bg-white p-3 shadow-lg rounded-lg">
        <div class="pb-8 text-center">
          <h3 class="font-weight-bold text-danger">Truy cập bị từ chối!</h3>
        </div>
        <br>
        <br>
        <div class="col-4 mx-auto m-3 text-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/595/595586.png"
            width="50%"
            alt="empty cart">
        </div>
        <h5 class="text-center">Vui lòng đăng nhập để truy cập chức năng này hoặc quay về trang chủ.</h5>
        <div class="form-group row mt-4">
          <div class="col-sm-3 mx-auto pb-1">
            <button [routerLink]="['/']" style="min-height: 45px"
                    class="btn btn-outline-success btn-block">
              Quay lại trang chủ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
